<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>COVID-19 ETL and Plotting</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
<div>
    <h1 class="my-header">Data for {{country.title()}}</h1>
    <div class="img-table-div">
        <div class="img-div">
            <img class="my-img" alt="" src="..\static\images\{{country}}.png"/>
        </div>
        <div class="wrap">
            <div class="inner-table">
                <table class="my-table">
                    {% for country in countries %}
                    <tr>
                        <td>
                            <a href="/{{country}}">
                                {{country.title()}}
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>