<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>COVID-19 ETL and Plotting</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
<div>
    <h1 class="my-header">Data for {{country.title()}}</h1>
    <div class="img-table-div">
        <img class="my-img" alt="" src="..\\static\\images\\{{country}}.png"/>
        <table class="my-table">
            <tr>
                <th>Countries</th>
            </tr>
            <tr>
                <td>
                    <a href="/uk">
                        UK
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/us">
                        US
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/china">
                        China
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/italy">
                        Italy
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/germany">
                        Germany
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/france">
                        France
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/spain">
                        Spain
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/portugal">
                        Portugal
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>