body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", "IBM Plex Serif Medium", Arial, sans-serif;
    color: #343434;
    background-color: #6696AE;
}

td {
    padding: 8px;
    text-align: center;
    background-color: white;
    border-bottom: 1px solid #ddd;
    font-family: "IBM Plex Mono SemiBold", Arial, sans-serif;
    margin: 5px;
}

input {
    padding: 8px;
    text-align: center;
    background-color: white;
    border-bottom: 1px solid #ddd;
    font-family: "IBM Plex Mono SemiBold", Arial, sans-serif;
    margin-top: 770px;
    margin-left: 26px;
    position: absolute;
    width: 27%;
}

th {
    text-decoration: underline;
    font-size: medium;
    padding: 10px;
}

.my-header {
    text-align: center;
    font-family: "IBM Plex Serif Bold", Arial, sans-serif;
    text-decoration: underline;
}

.img-table-div {
    width: 100%;
}

.img-div {
    width: 70%;
    float: left;
}

.my-img {
    box-shadow: 5px 5px 5px #696969;
    border: 1px solid #BFBFBF;
    width: 100%;
    margin-left: 1%;
}

.my-table {
    float: right;
    width: 95%;
    border-collapse: collapse;
    font-family: "IBM Plex Mono SemiBold", Arial, sans-serif;
}

.my-table-header {
    position: sticky;
    top: 0;
    background-color: #eeeeee;
    height: 10px;
}

.wrap {
    table-layout: fixed;
}

.inner-table {
    margin-right: 10px;
    height: 760px;
    overflow-y: auto;
    box-shadow: 5px 5px 5px #696969;
}
